<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wholesale Cars</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="banner">
      <h1 class="banner__title">Wholesale Cars</h1>
      <a href="https://maps.app.goo.gl/oiKn7Hk6RhoiGgvX9" class="banner__address"> 7820 Riverdale drive NW, Ramsey, MN 55303 </a>
      <a href="tel:763-242-6155" class="banner__phone"> (763) 242-6155 </a>
    </div>

    <div class="landing">
      <a href="https://www.k-bid.com/auction/list?affiliate=384627&closing=&closing_mask=&distance_radius=-1&distance_zip=&sort_field=end" class="landing__auction" target="_blank">
        <h2>Weekly Auction</h2>
        <p>Click here to view this week's auction</p>
      </a>

      <a href="/inventory" class="landing__inventory">
        <h2>View Our Inventory</h2>
        <p>See our current retail cars</p>
      </a>
    </div>
  </body>
</html>
